script(src='https://cdn.jsdelivr.net/npm/apexcharts')

div#myChart
script.
  window.pngData = false
  let config = !{chartSpec};

  config.chart.animations = {enabled: false}

  const ctx = document.getElementById("myChart");
  const myChart = new ApexCharts(ctx, config);
  myChart.render().then(() => {
    window.svgData = myChart.paper().svg();
  })
